<div class="right-panel col-xs-6 col-sm-4 col-md-4 col-lg-3">
    <div class="cart-top-line">

        <span class="cart-title">Замовлення</span>
        <span class="badge pizza-counter counter-color">2</span>

        <span class="empty-cart">
                    Очистити замовлення
                </span>
    </div>
    <div class="cart-items">
        <div class="holder" style="display: none;">
            <div class="no-items-cart" >
                <p>
                    Пусто в холодильнику?
                    <br>
                    Замовте піцу!
                </p>
            </div>
        </div>
    </div>
    <div class="order-btn-wrapper">
        <div class="order-sum">
            <span class="order-sum-text"> Сума замовлення</span>
            <span class="order-sum-amount"> </span>
        </div>
        <button type="button" class="btn btn-warning btn-lg btn-block button-order">
            Замовити
        </button>
    </div>
</div>